body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.task-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.add-task-button {
    background-color: #bf48e4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-task-button:hover {
    background-color: #862493;
}

ul {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin: 0 auto 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.task-text {
    font-size: 18px;
    flex-grow: 1;
    margin-right: 10px;
}

.edit-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.edit-button {
    color: #ffc107;
}

.edit-button:hover {
    color: #e0a800;
}

.delete-button {
    color: #dc3545;
}

.delete-button:hover {
    color: #c82333;
}

.task-item:hover {
    background-color: #f8f9fa;
}


.edit-input {
    margin-right: 5px;
    padding: 5px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;

}